head
  title Home page
  link(rel='stylesheet' href='css/style.css')
  script(src='https://kit.fontawesome.com/b2e3d18b73.js' crossorigin='anonymous')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
header
body
nav.navbar
  ul.top-nav
    li.left-side
      button.menu
        i.fa.fa-bars
      a#home(href='/') Home
    li.right-side
      input#searchbar(type='text' size='25')
      button(onclick='search()')
        i.fas.fa-search

#side-nav
  ul.tabs
    li
      a(href='/datastructures') Data Structures
    li
      a(href='/algorithms') Algorithms
section#page
  .main
    .text
      p#p1
        | &quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;
    .text
      p#p2
        | &quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;
footer#bot-foot
  p  Footer 
body
script(type='text/javascript' src='js/dsa.js')
